<div class="index-container">
    <div class="card" style="width: 33.333%;">
      <img class="card-img" src="{{this.images.0.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="title">{{this.name}}</h5>
      </div>
</div>
</div>